ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
audioread==2.1.9
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
Keras==2.4.3
kiwisolver==1.3.1
librosa==0.8.0
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.1
pydot==1.4.1
scikit-learn==0.24.0
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
sklearn==0.0
SoundFile==0.10.3.post1
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0